{% extends 'base.html' %}
{% block title %}Add a New Path{% endblock %}
{% block albums_active %}active{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% block form_content %}
                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'form_template.html' %}
                            
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is PathBuilder?</h3>
                    <p>PathBuilder is an app that allows you to upload and store all of your music on the cloud.</p>
                    <h3>How do I add Course?</h3>
                    <p>Go to your path and click "add course" ,write his informations and chooses 
                        the courses which it depend on to make the tree.</p>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
