{% extends 'base.html' %}
{% block title %}All Paths{% endblock %}
{% block songs_active %}active{% endblock %}

{% block content %}
<div class="container-fluid songs-container">

    <h1>Most popular paths : </h1>
    <div class="row">
      {% for path in path_list %}

      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="{{ path.photo.url }}" alt="Card image cap" width="350" height="200">
          <div class="card-body">
            <h4 class="card-title">{{path.name}}</h4>
            <p class="card-text">{{path.description}}</p>
            <a href="{{ path.get_absolute_url }}" class="btn btn-primary">Go to path</a>
          </div>
        </div>

      </div>

      {% endfor %}


    </div>

</div>
{% endblock %}
