{% extends 'base.html' %}
{% block title %}{{path.name}} | {{ block.super }}{% endblock %}
{% block songs_active %}active{% endblock %}

{% block content %}
<div class="container-fluid songs-container">


    <div class="row">

        <div class="col-sm-12">
            <img class="img-responsive" src="{{ path.photo.url }}" alt="Card image cap" width="350" height="200">
          <h3>{{path.name}} Path</h3>
          {% include 'paths/courses_tree.html' %}
          <p>Created By : <a href="{{path.creator.get_absolute_url}}">{{path.creator}}</a></p>
          {% if user.is_authenticated %}
            <a href="{% url 'paths:edit_path' path.slug %}" class="btn btn-primary">Edit</a>
          {% endif %}
          {% if user == course.creator %}
            <a href="{% url 'paths:delete_path' path.slug %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>

    </div>

</div>
{% endblock %}
